table, caption, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    font-size: 20px;
    font-weight: bold;
    background: grey;
    padding: 10px;
}
tr, th, td{
    padding: 3px 5px;
    text-align: center;
}
tr:nth-child(odd){
    background: lightgrey;
}